.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(36, 36, 36);
    overflow: auto;

}



.header-title {
    color:  rgb(213, 213, 213);
    display: inline-block;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.header-title:hover {
    color: grey;
}

.header-icon {
    margin: 5px;
    color: rgb(219, 151, 74);
    display: inline-block;
    align-items: center;
    vertical-align: middle;
}

.header-icon:hover {
    color: grey;
}

.header-simple {
    color: rgb(219, 151, 74);
}
